body {
    font-family: Calibri;
    color: #fff;
    background-image: url('../img/globe.jpg');
}
h1 {
	background-color:#ffff;
	border-style:solid;
	    width: 292px;
}
h2 {
	text-decoration:underline;

}
p {
	color:#ffff;
}
#linked_text{
    width: 600px;
	height: 320px;
    margin: 0;
    margin-left: 5px;
    padding: 5px;
	overflow:auto;
}
div.fsb {
    border:1px solid #000;
    background-color:white;
    width:200px;
    height:28px;
    padding:1px;
  }
 
div.fortschritt {
    background-color:#000;
    height:28px;
    width:0%; /* Fortschritt */
  }
  
div#content{
    
}

div.wiki_box_destiny{
    height: 200px;
}

[id$='_list']{
    margin: 0;
    padding: 5px;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
}

ul[id$='_list']{
    list-style-type: none;
}

[id$='_list_item']{
    display: inline-block;
    padding: 4px 5px 3px 5px;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    margin: 5px;
}

ul[id$='_list'] li div{
    display: inline-block;
    padding: 4px 5px 3px 5px;
}

ul#wiki_box_list{
    width: 900px;
}

div#website_text{
    width: 500px;
    min-height: 900px;
    margin-left: 150px;
}