#linked_text{
    width: 900px;
    margin: 0;
    margin-left: 200px;
    padding: 5px;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
}

div.fsb {
    border:1px solid #000;
    background-color:white;
    width:200px;
    height:28px;
    padding:1px;
}

div.fortschritt {
    background-color:#000;
    height:28px;
    width:0%; /* Fortschritt */
}